In [1]:
# operators
'''.. Arithmetic Operators ..
    + ==> Addition
    - ==> Substraction
    * ==> Multiplication
    / ==> Division
    % ==> Modulo operator '''
a=10
b=2
print("a+b=",a+b)
print("a+b=",a-b)
print("a+b=",a*b)
print("a+b=",a/b)
print("a+b=",a%b)
print("a+b=",a//b)
print("a+b=",a**b)

a+b= 12
a+b= 8
a+b= 20
a+b= 5.0
a+b= 0
a+b= 5
a+b= 100

In [3]:
# if we want to aplly '+' operator unto string
'bharath'+'3' # only with string not with int

'bharath3'

In [9]:
#  * operator
'bharath'*3 ''' If we want to apply  Star operator unto String ONE operator should be String and another operator should be 
                integer'''

'bharathbharathbharath'

In [13]:
# relative Operator:
# >,>=,<,<= (by default relative operators)
a=10
b=20
print('a>b is',a>b)
print('a<b is',a<b)
print('a>=b is',a>=b)
print('a<=b is',a<=b)

a>b is False
a<b is True
a>=b is False
a<=b is True

In [17]:
#Equality(==,!=)
10==20

False

In [18]:
'bharath'=='bharath' # == Content Comparision but not address comparison for that 'is' Operator

True

In [20]:
10.02==10.1

False

In [21]:
# Logical Operators and/or/not    If both argumrnts are true then only True
10 and 20

20

In [22]:
10 or 20   #If atleast one argument is True then True

10

In [25]:
# Bitwise Operators
# &,|,^ ( xor ) ,~(complement) ,<<(left shift), >>(right shift)
4&5

4

In [27]:
# ASsignment operator
x=10
print(x)

10

In [29]:
x+=10
print(x)

30

In [30]:
x=x+10 # compound assignment operator// assign mic=xed with same other operator
print(x)

40

In [31]:
# special Operator
# 1. identityt operator
# is 
# isnot

a=10
b=10
print(a is b)

True

In [32]:
a="san"
b="san"
print(id(a))
print(id(b))
print(a is b)

2084856627248
2084856627248
True

In [40]:
# Membership Operator
l=[10,20,30,40]
print(10 in l)
print(50 not in l)

True
True

In [41]:
s="helloPython"
print('o' in s)

True